<app-header></app-header>
<div class="jumbotron jumbotron-fluid mt-2">
  <div class="container  text-center">
    <h1 class="display-4"></h1>
    <p class="lead">

    <button  (click)="open(content)" type="button" class="btn btn-success btn-circle btn-xl">?</button> 

  </p>

    {{ result }}
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> How good is your python?</h4>
  </div>

  <div class="modal-body">
    <form [formGroup]="pythonForm" (ngSubmit)="submit()">
  
             <textarea rows="4"formControlName="python">
             </textarea>

    
    </form>

    <button  (click)="submit()" type="button" class="btn btn-success">submit</button> 
  </div>

</ng-template>